{% extends "layout.html" %}

{% block content %}
{{ form.csrf_token }} 
<div class="container">
    <h1>search for the resources</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="key_word" class="form-control" placeholder="title" required>
        </div>
        <button type='submit'  name='val' value='val1' >search video</button>
    </form>
</div>


{% for i in data1 %}
<h2>{{ i[0] }}> </h2>
<a class="post-img" href=""><img src="{{ i[2] }}"height=200px width=160px></a>
<h5>{{ i[1] }} </h5>
<input type="button" onclick="location.href='{{ i[3] }}';"/>

{% endfor %}
{% endblock content %}
